.footer
{
overflow: hidden;
position: sticky;
top: 100%;
background-color: #070707;
padding: 20px 10px;
}
a
{
display: block;
color: #fff;
text-decoration: none ;
padding: 0px 5px;
font-size: 14px;
}
a:hover
{
    text-decoration: underline;
}
i
{
    display: inline;
    color: white;
}
.social-media a{
    display: inline;
}