<div class="container-fluid footer">
    <!--nav-->
    <div class="col-lg-4">
        <h2>Brzi linkovi</h2>
        <a routerLink="about">O nama</a>
        <a routerLink="kontakt">Kontakt</a>
        <a routerLink="reservation">Rezervacije</a>
        <a routerLink="uslovi">Uslovi za iznajmljivanje</a>
    <div class="social-media">
        <div class="col-lg-2">
            <a href="#" target="_blank"><i class="fab fa-facebook" style="font-size: 18px;"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram" style="font-size: 18px;"></i></a>
            <a href="#" target="_blank"><i class='fab fa-whatsapp' style="font-size: 18px;"></i></a>
            <a href="#" target="_blank"><i class='fab fa-tiktok' style="font-size: 18px;"></i></a>
            <a href="#" target="_blank"><i class='fab fa-viber' style="font-size: 18px;"></i></a>
        </div>
        </div>
    </div>
    <div class="prijateljiSajta">
        <h2>Prijatelji sajta</h2>
        <a href="https://mnmuskagarderoba.rs/"><img src="../../assets/images/mn_logo.webp" alt="LogoMN" width="20%"></a>
        <a class="web" href="https://mnmuskagarderoba.rs/">www.mnmuskagarderoba.rs</a>
       
        </div>
        <div class="kontakt">
            <h2>Kontakt</h2>
            <p><br>Adresa: Veljka Dugoševića 169, Ruma 22400<br>Telefon: 062/86-10-308</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11283.068841637336!2d19.8211869!3d45.009349!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475babfdd5309fbf%3A0x90499d6a9f9c86d5!2sMu%C5%A1ki%20butik%20M%26N!5e0!3m2!1shr!2srs!4v1678978353522!5m2!1shr!2srs"
                width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>