<div class="paragraf" style="padding:6px;">
    <h1>USLOVI ZA <span>IZNAJMLJIVANJE</span> </h1>
    <p>
        Vožnja kvada je bez vodiča. Dobija se pun rezervoar i niste u obavezi da vratite pun.Depozit nije potreban.<br> Pre
        preuzimanja potpisujemo ugovor da preuzimate kvad na odredjeno vreme i da preuzimate odgovornost.<br>Vožnja je na
        teritoriji sledećih opština Ruma, Irig, SM
        (to podrazumeva celu Frušku Goru). <br>Za upravljanje kvadom potrebno je da imate navršenu 21 godinu i da
        posedujete vozačku dozvolu minimum godinu dana. <br>Za dodatne informacije budite slobodni da nas pozovete
        +381637678522
    </p>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank">
            <img src="../../assets/images/img gallery about/image00002 (2).webp" alt="Forest" width="600" height="400">
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank">
            <img src="../../assets/images/img gallery about/kvad1 (1).webp" alt="Northern Lights" width="600"
                height="400">
        </a>

    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank">
            <img src="../../assets/images/img gallery about/kvad1.webp" alt="Mountains" width="600" height="400">
        </a>
    </div>
</div>

<div class="clearfix"></div>
