<div class="uslovi">
<h1>RentAQuadFruska</h1>
<p>Uslovi:<br>Vožnja kvada je bez vodiča. Dobija se pun rezervoar i niste u obavezi da vratite pun.
     Depozit nije potreban.<br> Pre preuzimanja potpisujemo ugovor da preuzimate kvad na odredjeno vreme i da preuzimate odgovornost.<br> Vožnja je na teritoriji sledećih opština Ruma, Irig, SM (to podrazumeva celu Frušku Goru).<br> Za upravljanje kvadom potrebno je da imate navršenu 21 godinu i da posedujete vozačku dozvolu minimum godinu dana. 
     <br>Za dodatne informacije budite slobodni da nas pozovete +381637678522</p>
</div>