*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.paragraf h1{
  font-size: 350%;
  font-weight: bolder;
  padding: 5%;
}
.paragraf p{
  line-height: 200%;
}
div.gallery img {
  padding-top: 10%;
  width: 100%;
  height: auto;
  text-align: center;
}
.responsive {
  padding: 3% 1%;
  float: right;
  width: 33%;
}
.paragraf{
  text-align: center;
  font-size: large;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  .paragraf h1 span{
    display: inline-block;
  }

  .paragraf h1{
    font-size: large;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

  .paragraf h1 span{
    display: inline-block;
  }

  .paragraf h1{
    font-size: xx-large;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}