
<div class="paragraf">
    <h1>USLOVI ZA <span>IZNAJMLJIVANJE</span> </h1>
    <p>
        Vožnja kvada je bez vodiča. Dobija se pun rezervoar i niste u obavezi da vratite pun. Depozit nije potreban.<br> Pre
        preuzimanja potpisujemo ugovor da preuzimate kvad na odredjeno vreme i da preuzimate odgovornost.<br>Vožnja je na
        teritoriji sledećih opština Ruma, Irig, SM
        (to podrazumeva celu Frušku Goru). <br>Za upravljanje kvadom potrebno je da imate navršenu 21 godinu i da
        posedujete vozačku dozvolu minimum godinu dana. <br>Za dodatne informacije budite slobodni da nas pozovete
        <strong>+381637678522</strong>
    </p>

</div>
<h1 class="naslovCF">CFORCE 520L 2021</h1>
<div class="responsive">
    <div class="gallery">
        <a target="_blank">
            <img src="../../assets/images/1 (1).webp" alt="rentQuadVrdnikFruskaGora1 https://www.facebook.com/profile.php?id=100083362711248" width="600" height="300" >
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank">
            <img src="../../assets/images/4 (1)komp (1).webp" alt="rentQuadVrdnikFruskaGora https://www.facebook.com/profile.php?id=100083362711248" width="600"
                height="400">
                <p class="description"><a href="https://www.facebook.com/people/Rent-a-quad-Ruma-Vrdnik-Iznajmljivanje-kvada-Fru%C5%A1ka-gora/100083362711248/?paipv=0&eav=AfZhsjt_labJmiQYUlUrWAWMyWFPSw2wYohkzprjHLutrEAploHY85Nn70yCRXCjlt4&_rdr">Rent a quad Ruma, Vrdnik</a></p>
        </a>

    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank">
            <img src="../../assets/images/8 (1).webp" alt="rentQuadVrdnikFruskaGora https://www.facebook.com/profile.php?id=100083362711248" width="600" height="400">
        </a>
    </div>
</div>

<div class="clearfix"></div>
