*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar
{
    background:#fff;
}
.nav-link{
    font-size: medium;
    display: inline-block;
    position: relative;
    background: -webkit-linear-gradient(90deg, rgba(149,100,42,1) 0%, rgba(244,234,152,1) 52%, rgba(149,100,42,1) 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.navbar-brand{
    color: #fff;
}
.nav-link::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 1s ease-out;
}
 .nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-link:hover{
    font-size: large;
    
    
}
.navbar-toggler{
    background-color: #fff;
}

