.navbar
{
    background-color:rgb(12, 12, 12);
}
.nav-link{
    color: #ffffff;
}
.navbar-brand{
    color: #fff;
}
.nav-link:hover{
    font-size: large;
    background-color: red;
}
.navbar-toggler{
    background-color: #fff;
}

