<div class="body">
  <div class="container">
      <div class="title">Rezervacija</div>
      <form action="https://formspree.io/f/mgebzbpz" method="POST" id="my-form">
          <div class="user-details">
              <div class="input-box">
                  <span class="details">Ime i prezime</span>
                  <input type="text" id="ImeIPrezime" name="ImeIPrezime" placeholder="Unesite vase ime i prezime" required>
              </div>
              <div class="input-box">
                  <span class="details">Vas email</span>
                  <input type="text" id="email" name="email" placeholder="Unesite Vas email" required>
              </div>
              <div class="input-box">
                  <span class="details">Broj telefona</span>
                  <input type="text" id="brojTelefona" name="brojTelefona" placeholder="Unesite broj telefona" required>
              </div>
              <div class="input-box">
                  <span class="details">Datum dolaska</span>
                  <input type="date" id="datumDolaska" name="DatumDolaska" required>
              </div>
              <div class="input-box">
                  <span class="details">Vreme dolaska</span>
                  <input type="text" id="vremeDolaska" name="vremeDolaska" placeholder="Unesite vreme (npr: 13h)" required>
              </div>
              <div class="input-box">
                  <span class="details">broj osoba</span>
                  <input type="number" id="brojOsoba" name="brojOsoba" max="2" required>
              </div>
              <div class="input-box">
                  <span class="details">Broj sati rentiranja</span>
                  <input type="number" id="trajanjeRente" name="trajanje" max="12" required>
              </div>
              <div class="input-box">
                  <span class="details">Vasa dodatna pitanja</span>
                  <input type="text" id="poruka" name="poruka">
              </div>
            <div class="button">
        <button type="submit" class="btn">Rezervisi voznju</button>
    </div>
  
    <div id="status"></div>
