*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.container .phone-link{
  color: black;
  text-decoration: none;
}
.title{
  display: flex;
  justify-content: space-between;
 
}
.title .fas{
  margin-top: 2%;
  font-size: medium;
}

.body{
  display: flex;
  height: 100vh;
  justify-content:center;
  align-items: center;
  background-image: url(../../assets/images/imgHomeReserva/11.webp);
  background-repeat: no-repeat;
  background-attachment: local;  
  background-size:cover;
}
.container{
  max-width: 700px;
  width: 90vw;
  background: rgb(253, 250, 250);
  padding: 25px 30px;
  border-radius: 6px;
  opacity: 85%;
}
.container .title{
  font-size: 30px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position:absolute;
  height: 3px;
  width: 30px;
  left: 0;
  bottom: 0;
  background: black;
}
.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details  .input-box .details{
  font-weight: 500;
  margin-bottom:5px ;
  display: block;
}

.user-details  .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid;
  padding-left: 15px ;
  font-size: 16px;
  border-bottom-width: 2px;


}
  .btn[type="submit"] {
  width: 100%;
  border: none;
  background-color: orangered;
  padding: 14px 28px;
  font-size: 20px;
  text-align: center;
  color: white;
  }
  button[type="submit"]:hover {
    height: 100%;
    width: 100%;
    background-color:red;
    font-size: 25px;
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
@media (max-width:990px) {
 .body{
  overflow-x: hidden;

 }
  
.container{
  max-width: 100%;
  opacity: 80%;
  background-blend-mode: hard-light;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: 100%;
  opacity: 90%;
}
.container form .user-details{
  max-height: 400px;
  overflow-y: scroll;
}
.container form .user-details::-webkit-scrollbar{
  width: 0;

}
.title .fas{
  margin-top: 6%;
  font-size: medium;
}
}

  
  