<div class="body" #target>
  <div class="container">
      <div class="title">Rezervacija</div>
      <form action="https://formspree.io/f/mgebzbpz" method="POST" id="my-form">
          <div class="user-details">
              <div class="input-box">
                  <span class="details">Ime i prezime</span>
                  <input type="text" id="ImeIPrezime" name="ImeIPrezime" placeholder="Unesite vaše ime i prezime" required>
              </div>
              <div class="input-box">
                  <span class="details">Vaš e-mail adresa</span>
                  <input type="text" id="email" name="email" placeholder="Unesite vaš e-mail" required>
              </div>
              <div class="input-box">
                  <span class="details">Broj telefona</span>
                  <input type="text" id="brojTelefona" name="brojTelefona" placeholder="Unesite broj telefona" maxlength="15" required>
              </div>
              <div class="input-box">
                  <span class="details">Datum dolaska</span>
                  <input type="date" id="datumDolaska" name="DatumDolaska" required>
              </div>
              <div class="input-box">
                  <span class="details">Vreme dolaska</span>
                  <input type="text" id="vremeDolaska" name="vremeDolaska" placeholder="Unesite vreme dolaska (npr: 13h)" minlength="1" max="3" required>
              </div>
              <div class="input-box">
                  <span class="details">Broj osoba</span>
                  <input type="number" id="brojOsoba" name="brojOsoba" min="1" max="2" placeholder="Maksimalno 2 osobe" required>
              </div>
              <div class="input-box">
                  <span class="details">Broj sati iznajmljivanja</span>
                  <input type="number" id="trajanjeRente" name="trajanje" min="1" max="12" placeholder="Maksimalno 12h" required>
              </div>
              <div class="input-box">
                  <span class="details">Vaša dodatna pitanja</span>
                  <input type="text" id="poruka" maxlength="150" name="poruka">
              </div>
            <div class="button">
        <button type="submit" class="btn" >Rezerviši vožnju</button>
    </div>
  
    <div id="status"></div>
