<div class="body">
<div class="container">
    <div class="title">Rezervacija</div>
    <form action="#">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Ime i prezime</span>
                <input type="text" placeholder="Unesite vase ime i prezime" required>
            </div>
            <div class="input-box">
                <span class="details">Vas email</span>
                <input type="text" placeholder="Unesite Vas email" required>
            </div>
            <div class="input-box">
                <span class="details">Broj telefona</span>
                <input type="text" placeholder="Unesite broj telefona" required>
            </div>
            <div class="input-box">
                <span class="details">Datum dolaska</span>
                <input type="date" required>
            </div>
            <div class="input-box">
                <span class="details">Vreme dolaska</span>
                <input type="text" placeholder="Unesite vreme (npr: 13h)" required>
            </div>
            <div class="input-box">
                <span class="details">broj osoba</span>
                <input type="number" max="2" required>
            </div>
            <div class="input-box">
                <span class="details">Broj sati rentiranja</span>
                <input type="number" max="12" required>
            </div>
            <div class="input-box">
                <span class="details">Vasa dodatna pitanja</span>
                <input type="text">
                <div class="button">
                    <input type="submit" value="Zakazi voznju">
                </div>
            </div>
        </div>

    </form>
</div>
</div>